In [2]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup
import numpy as np

In [13]:
f1 = pd.read_csv('forest_cover.csv')
f1.head()

,State/UT,Geographical Area_1-13,Geographical Area_15-19,Very dense forest-2001,Open forest-2001,Total-2001,Very dense forest-2003,Mod. dense forest-2003,Open forest-2003,Total-2003,...,Open forest-2015,Total-2015,Very dense forest-2017,Mod. dense forest-2017,Open forest-2017,Total-2017,Very dense forest-2019,Mod. dense forest-2019,Open forest-2019,Total-2019
0,Andhra Pradesh,"2,75,069","1,60,204","25,827","18,810","44,637",23,"24,356","20,040","44,419",...,"10,956","24,424","1,957","14,051","12,139","28,147","1,994","13,938","13,205","29,137"
1,Arunachal Pradesh,"83,743","83,743","53,932","14,113","68,045","13,907","39,604","14,508","68,019",...,"15,143","67,248","20,721","30,955","15,288","66,964","21,095","30,557","15,036","66,688"
2,Assam,"78,438","78,438","15,830","11,884","27,714","1,684","11,358","14,784","27,826",...,"14,914","27,623","2,797","10,192","15,116","28,105","2,795","10,279","15,253","28,327"
3,Bihar,"94,163","94,163","3,372","2,348","5,720",76,"2,951","2,531","5,558",...,"3,664","7,288",332,"3,260","3,707","7,299",333,"3,280","3,693","7,306"
4,Chhattisgarh,"1,35,191","1,35,191","37,880","18,568","56,448","1,540","37,440","17,018","55,998",...,"16,588","55,586","7,064","32,215","16,268","55,547","7,068","32,198","16,345","55,611"

In [14]:
t1 = pd.read_csv('tree_cover.csv')

In [15]:
t2 = t1.drop([37])

In [16]:
t3 = t2.drop(['State/UT'], axis = 1)

In [17]:
t3.head()

,Tree_Cover-2001,Tree_Cover-2003,Tree_Cover-2005,Tree_Cover-2009,Tree_Cover-2011,Tree_Cover-2013,Tree_Cover-2015,Tree_Cover-2017,Tree_Cover-2019
0,"9,011","12,120","7,640","7,191","7,152","7,187","3,965","3,753","3,914"
1,478,363,446,592,549,660,761,807,848
2,"1,942",935,"1,484","1,590","1,564","1,582","1,613","1,496","1,408"
3,"3,693","1,620","2,522","2,495","2,369","2,164","2,182","2,263","2,003"
4,"3,535","6,723","4,492","4,027","3,866","3,463","3,629","3,833","4,248"

In [18]:
green_cover = pd.concat([f1, t3], axis=1, sort=False)

In [19]:
print(green_cover)

                State/UT Geographical Area_1-13 Geographical Area_15-19  \
0         Andhra Pradesh               2,75,069                1,60,204
1      Arunachal Pradesh                 83,743                  83,743
2                  Assam                 78,438                  78,438
3                  Bihar                 94,163                  94,163
4           Chhattisgarh               1,35,191                1,35,191
5                  Delhi                  1,483                   1,483
6                    Goa                  3,702                   3,702
7                Gujarat               1,96,022                1,96,022
8                Haryana                 44,212                  44,212
9       Himachal Pradesh                 55,673                  55,673
10       Jammu & Kashmir               2,22,236                2,22,236
11             Jharkhand                 79,714                  79,714
12             Karnataka               1,91,791                1,91,791
13                Kerala                 38,863                  38,863
14        Madhya Pradesh               3,08,245                3,08,245
15           Maharashtra               3,07,713                3,07,713
16               Manipur                 22,327                  22,327
17             Meghalaya                 22,429                  22,429
18               Mizoram                 21,081                  21,081
19              Nagaland                 16,579                  16,579
20                Orissa               1,55,707                1,55,707
21                Punjab                 50,362                  50,362
22             Rajasthan               3,42,239                3,42,239
23                Sikkim                  7,096                   7,096
24            Tamil Nadu               1,30,058                1,30,058
25             Telangana                      0                1,14,865
26               Tripura                 10,486                  10,486
27         Uttar Pradesh               2,40,928                2,40,928
28           Uttarakhand                 53,483                  53,483
29           West Bengal                 88,752                  88,752
30         A & N Islands                  8,249                   8,249
31            Chandigarh                    114                     114
32  Dadra & Nagar Haveli                    491                     491
33           Daman & Diu                    112                     112
34           Lakshadweep                     32                      32
35            Puducherry                    480                     480
36                 Total              32,87,263               32,87,263

   Very dense forest-2001 Open forest-2001 Total-2001 Very dense forest-2003  \
0                  25,827           18,810     44,637                     23
1                  53,932           14,113     68,045                 13,907
2                  15,830           11,884     27,714                  1,684
3                   3,372            2,348      5,720                     76
4                  37,880           18,568     56,448                  1,540
5                      38               73        111                      0
6                   1,785              310      2,095                      0
7                   8,673            6,479     15,152                    114
8                   1,139              615      1,754                      2
9                  10,429            3,931     14,360                  1,093
10                 11,848            9,389     21,237                  2,102
11                 11,787           10,850     22,637                  2,544
12                 26,156           10,835     36,991                    431
13                 11,772            3,788     15,560                    334
14                 44,384           32,881     77,265                  4,000
15                 30,894           16,588     47,482                  8,070
16                  5,710           11,216     16,926                    720
17                  5,681            9,903     15,584                    168
18                  8,936            8,558     17,494                     84
19                  5,393            7,952     13,345                     57
20                 27,972           20,866     48,838                    288
21                  1,549              883      2,432                      0
22                  6,322           10,045     16,367                     14
23                  2,391              802      3,193                    458
24                 12,499            8,983     21,482                  2,440
25                      0                0          0                      0
26                  3,463            3,602      7,065                     58
27                  8,965            4,781     13,746                  1,297
28                 19,023            4,915     23,938                  4,002
29                  6,346            4,347     10,693                  2,303
30                  6,593              337      6,930                  3,475
31                      5                4          9                      1
32                    151               68        219                      0
33                      2                4          6                      0
34                     27                0         27                      0
35                     35                1         36                      0
36               4,16,809         2,58,729   6,75,538                 51,285

   Mod. dense forest-2003 Open forest-2003 Total-2003  ... Total-2019  \
0                  24,356           20,040     44,419  ...     29,137
1                  39,604           14,508     68,019  ...     66,688
2                  11,358           14,784     27,826  ...     28,327
3                   2,951            2,531      5,558  ...      7,306
4                  37,440           17,018     55,998  ...     55,611
5                      52              118        170  ...        195
6                   1,255              901      2,156  ...      2,237
7                   6,231            8,601     14,946  ...     14,857
8                     518              997      1,517  ...      1,602
9                   7,883            5,377     14,353  ...     15,434
10                  8,395           10,770     21,267  ...     23,612
11                  9,137           11,035     22,716  ...     23,611
12                 22,030           13,988     36,449  ...     38,575
13                  9,294            5,949     15,577  ...     21,144
14                 37,843           34,586     76,429  ...     77,482
15                 20,317           18,478     46,865  ...     50,778
16                  5,818           10,681     17,219  ...     16,847
17                  6,323           10,348     16,839  ...     17,119
18                  7,404           10,942     18,430  ...     18,006
19                  5,650            7,902     13,609  ...     12,486
20                 27,882           20,196     48,366  ...     51,619
21                    743              837      1,580  ...      1,849
22                  4,482           11,330     15,826  ...     16,630
23                  1,904              900      3,262  ...      3,342
24                  9,567           10,636     22,643  ...     26,364
25                      0                0          0  ...     20,582
26                  4,988            3,047      8,093  ...      7,726
27                  4,699            8,122     14,118  ...     14,806
28                 14,420            6,043     24,465  ...     24,303
29                  3,742            6,298     12,343  ...     16,902
30                  2,809              680      6,964  ...      6,743
31                      8                6         15  ...         22
32                    145               80        225  ...        207
33                      2                6          8  ...         20
34                     12               11         23  ...         27
35                     17               23         40  ...         52
36               3,39,279         2,87,769   6,78,333  ...   7,12,249

   Tree_Cover-2001 Tree_Cover-2003 Tree_Cover-2005 Tree_Cover-2009  \
0            9,011          12,120           7,640           7,191
1              478             363             446             592
2            1,942             935           1,484           1,590
3            3,693           1,620           2,522           2,495
4            3,535           6,723           4,492           4,027
5               40              98             107             123
6               62             136             268             286
7            4,036          10,586           7,621           8,390
8            1,526           1,415           1,565           1,409
9              397             491             709             638
10           2,217           3,826           5,633           6,764
11           2,694           5,012           3,080           3,032
12           7,446           5,371           5,467           5,683
13           1,146           1,903           2,632           2,801
14           5,751           7,250           6,267           6,871
15           8,269           9,320           8,978           9,466
16              95             136             142             197
17             140             352             405             542
18              95             130             122             172
19              70             217             238             300
20           4,364           6,381           4,598           4,435
21           1,634           1,608           1,823           1,699
22           5,286           8,638           8,379           8,274
23              14              22              27              20
24           6,054           4,991           5,621           4,968
25               0               0               0               0
26              68             116             134             171
27           7,545           7,715           8,203           7,381
28             448             571             658             665
29           3,264           1,731           2,269           2,458
30              83              33              53              44
31               2               8               9              11
32              27              35              28              27
33               4               6               9               9
34               0               2               4               4
35              35              35              42              34
36          81,472          99,896          91,663          92,769

   Tree_Cover-2011 Tree_Cover-2013 Tree_Cover-2015 Tree_Cover-2017  \
0            7,152           7,187           3,965           3,753
1              549             660             761             807
2            1,564           1,582           1,613           1,496
3            2,369           2,164           2,182           2,263
4            3,866           3,463           3,629           3,833
5              120             118             111             113
6              286             334             325             323
7            7,837           8,358           7,914           8,024
8            1,395           1,282           1,355           1,415
9              623             697             757             822
10           6,550           7,664           8,354           7,815
11           2,914           2,629           2,783           2,922
12           5,733           5,920           5,552           5,713
13           2,755           3,146           2,951           2,959
14           7,090           7,087           7,773           8,073
15           9,079           9,142           9,558           9,831
16             193             224             243             220
17             578             668             710             657
18             190             223             535             467
19             322             372             381             379
20           4,301           4,013           3,986           3,993
21           1,699           1,499           1,544           1,622
22           8,272           7,860           8,269           8,266
23              25              31              35              35
24           4,718           4,866           4,505           4,671
25               0               0           2,549           2,669
26             184             213             233             215
27           7,382           6,895           7,044           7,442
28             642             703             752             767
29           2,335           2,144           2,088           2,136
30              39              41              37              35
31              10              10               9              10
32              29              29              28              30
33               9               9              10              10
34               5               5               4               2
35              31              29              27              27
36          90,844          91,267          92,571          93,815

   Tree_Cover-2019
0            3,914
1              848
2            1,408
3            2,003
4            4,248
5              129
6              272
7            6,912
8            1,564
9              829
10           7,944
11           2,657
12           6,257
13           2,936
14           8,339
15          10,806
16             173
17             710
18             441
19             362
20           4,648
21           1,592
22           8,112
23              36
24           4,830
25           2,514
26             231
27           7,342
28             841
29           2,006
30              41
31              25
32              28
33               5
34               1
35              23
36          95,028

[37 rows x 47 columns]

In [20]:
green_cover.dtypes

State/UT                   object
Geographical Area_1-13     object
Geographical Area_15-19    object
Very dense forest-2001     object
Open forest-2001           object
Total-2001                 object
Very dense forest-2003     object
Mod. dense forest-2003     object
Open forest-2003           object
Total-2003                 object
Very dense forest-2005     object
Mod. dense forest-2005     object
Open forest-2005           object
Total-2005                 object
Very dense forest-2007     object
Mod. dense forest-2007     object
Open forest-2007           object
Total-2007                 object
Very dense forest-2011     object
Mod. dense forest-2011     object
Open forest-2011           object
Total-2011                 object
Very dense forest-2013     object
Mod. dense forest-2013     object
Open forest-2013           object
Total-2013                 object
Very dense forest-2015     object
Mod. dense forest-2015     object
Open forest-2015           object
Total-2015                 object
Very dense forest-2017     object
Mod. dense forest-2017     object
Open forest-2017           object
Total-2017                 object
Very dense forest-2019     object
Mod. dense forest-2019     object
Open forest-2019           object
Total-2019                 object
Tree_Cover-2001            object
Tree_Cover-2003            object
Tree_Cover-2005            object
Tree_Cover-2009            object
Tree_Cover-2011            object
Tree_Cover-2013            object
Tree_Cover-2015            object
Tree_Cover-2017            object
Tree_Cover-2019            object
dtype: object

In [21]:
for col in green_cover.iloc[:, 1:].columns: 
    print(col) 
    green_cover[col] = green_cover[col].str.replace(",","").astype(int)

Geographical Area_1-13
Geographical Area_15-19
Very dense forest-2001
Open forest-2001
Total-2001
Very dense forest-2003
Mod. dense forest-2003
Open forest-2003
Total-2003
Very dense forest-2005
Mod. dense forest-2005
Open forest-2005
Total-2005
Very dense forest-2007
Mod. dense forest-2007
Open forest-2007
Total-2007
Very dense forest-2011
Mod. dense forest-2011
Open forest-2011
Total-2011
Very dense forest-2013
Mod. dense forest-2013
Open forest-2013
Total-2013
Very dense forest-2015
Mod. dense forest-2015
Open forest-2015
Total-2015
Very dense forest-2017
Mod. dense forest-2017
Open forest-2017
Total-2017
Very dense forest-2019
Mod. dense forest-2019
Open forest-2019
Total-2019
Tree_Cover-2001
Tree_Cover-2003
Tree_Cover-2005
Tree_Cover-2009
Tree_Cover-2011
Tree_Cover-2013
Tree_Cover-2015
Tree_Cover-2017
Tree_Cover-2019

In [23]:
green_cover.dtypes

State/UT                   object
Geographical Area_1-13      int32
Geographical Area_15-19     int32
Very dense forest-2001      int32
Open forest-2001            int32
Total-2001                  int32
Very dense forest-2003      int32
Mod. dense forest-2003      int32
Open forest-2003            int32
Total-2003                  int32
Very dense forest-2005      int32
Mod. dense forest-2005      int32
Open forest-2005            int32
Total-2005                  int32
Very dense forest-2007      int32
Mod. dense forest-2007      int32
Open forest-2007            int32
Total-2007                  int32
Very dense forest-2011      int32
Mod. dense forest-2011      int32
Open forest-2011            int32
Total-2011                  int32
Very dense forest-2013      int32
Mod. dense forest-2013      int32
Open forest-2013            int32
Total-2013                  int32
Very dense forest-2015      int32
Mod. dense forest-2015      int32
Open forest-2015            int32
Total-2015                  int32
Very dense forest-2017      int32
Mod. dense forest-2017      int32
Open forest-2017            int32
Total-2017                  int32
Very dense forest-2019      int32
Mod. dense forest-2019      int32
Open forest-2019            int32
Total-2019                  int32
Tree_Cover-2001             int32
Tree_Cover-2003             int32
Tree_Cover-2005             int32
Tree_Cover-2009             int32
Tree_Cover-2011             int32
Tree_Cover-2013             int32
Tree_Cover-2015             int32
Tree_Cover-2017             int32
Tree_Cover-2019             int32
dtype: object

In [25]:
green_cover.to_csv('green_cover.csv', na_rep='Null', float_format='%.2f', index=False, encoding='utf-8')#area in km2